*{  
    padding: 0;
    margin: 0;
    background: rgb(7, 22, 40);
}

#game{
    
    background-color: #0096bb;
    width: 400px;
    height: 500px;
    border: 8px solid rgb(255, 187, 0);
    margin: auto;
}
#character{
    width: 20px;
    height: 20px;
    background-color: rgb(234, 155, 58);
    border-radius: 50%;
    position: relative;
    top: 440px;
    left: 190px;
    z-index: 1000000;

}
.block{
    width: 400px;
    height: 20px;
    background-color: rgb(66, 66, 66);
    position: relative;
    top: 100px;
    margin-top: -20px;

}

.hole{
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
